.total-user-section {
          text-align: center;
          padding: 3rem;
}

.total-user-section h2 {
          font-size: 2rem;
          margin-bottom: 1.5rem;
}

.total-user-container {
          display: flex;
          justify-content: center;
          gap: 10rem;
}

.total-user-card {
          text-align: center;
          border: 1px solid #eee;
          border-radius: 8px;
          padding: 4rem;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.total-user-card:hover {
          transform: translateY(-10px);
          box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.total-user-card h3 {
          font-size: 2rem;
          color: #ff6200;
          margin: 0.5rem 0;
}

.total-user-card p {
          color: #666;
          font-size: 1rem;
}

.icon {
          font-size: 3rem;
          color: #673ab7;
          margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  .total-user-container {
    flex-direction: column;
    gap: 2rem;
  }

  .total-user-card {
    padding: 2rem;
  }
}
