/* Sidebar Styles */
.sidebar {
          background-color: #f8f9fa;
          color: #757575;
          width: 250px;
          transition: width 0.3s ease;
          height: 100vh;
          display: flex;
          flex-direction: column;
          position: fixed;
}

.sidebar.closed {
          width: 80px;
}

.sidebar-header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 1rem;
          background: #fff;
          border-bottom: 1px solid #eee;
}

.sidebar-logo {
          width: 140px;
}

.menu-toggle {
          font-size: 1.5rem;
          cursor: pointer;
          color: #673ab7;
}

.sidebar-menu {
          list-style: none;
          padding: 0;
          margin: 0;
}

.menu-item {
          display: flex;
          align-items: center;
          padding: 0.8rem 1rem;
          cursor: pointer;
          transition: background-color 0.2s ease;
}

.menu-item:hover {
          background-color: #ececec;
}

.menu-icon {
          font-size: 1.5rem;
          margin-right: 1rem;
          color: #673ab7;
}

.menu-item span {
          font-size: 1rem;
          font-weight: 500;
}

.sidebar.closed .menu-item span {
          display: none;
}

.sidebar.closed .menu-icon {
          margin-right: 0;
}
