/* Sidebar Styles */
.sidebar {
          background-color: #f8f9fa;
          color: #757575;
          width: 250px;
          transition: width 0.3s ease;
          height: 100vh;
          display: flex;
          flex-direction: column;
          position: fixed;
}

.sidebar.closed {
          width: 80px;
}

.sidebar-header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 1rem;
          background: #fff;
          border-bottom: 1px solid #eee;
}

.sidebar-logo {
          width: 200px;
}

.menu-toggle {
          font-size: 1.5rem;
          cursor: pointer;
          color: #673ab7;
}

.sidebar-menu {
          list-style: none;
          padding: 0;
          margin: 0;
}

.menu-item {
          display: flex;
          align-items: center;
          padding: 0.8rem 1rem;
          cursor: pointer;
          transition: background-color 0.2s ease;
}


.menu-item:hover {
          background-color: #ececec;
}

.menu-icon {
          font-size: 1.5rem;
          margin-right: 1rem;
          color: #673ab7;
}

.menu-item span {
          font-size: 1rem;
          font-weight: 500;
}

.sidebar.closed .menu-item span {
          display: none;
}

.sidebar.closed .menu-icon {
          margin-right: 0;
}

/* Dropdown Menu */
.dropdown {
          position: relative;
}

.dropdown-header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          cursor: pointer;
}

.dropdown-menu {
          list-style: none;
          padding: 0;
          /* Hilangkan padding default */
          margin: 0;
          /* Hilangkan margin default */
          margin-left: 1.5rem;
          /* Sesuaikan jika ingin ada sedikit indentasi */
}

.dropdown-item {
          padding: 0.5rem 1rem;
          /* Tambahkan padding internal */
          cursor: pointer;
          transition: background-color 0.2s ease;
}

.dropdown-item:hover {
          background-color: #ececec;
}

.dropdown-icon {
          font-size: 0.8rem;
          transition: transform 0.3s ease;
}

.dropdown-icon.rotate {
          transform: rotate(180deg);
}
