.dashboard-container {
          display: flex;
          flex-direction: column;
          padding: 20px;
}

.card-container {
          display: flex;
          justify-content: space-around;
          margin-bottom: 20px;
}

.card-container h2 {
          color: #5C2866;
}

.card-container p{
          color: #868686
}
.card {
          background-color: #ffffff;
          /* Warna putih untuk card default */
          padding: 20px;
          border-radius: 8px;
          box-shadow: 0 2px 4px rgba(88, 88, 88, 0.1);
          text-align: center;
          width: 30%;
          border: 1px solid #eee;
          /* Menambahkan border tipis */
}

.card-purple {
          /* Style khusus untuk card pertama */
          background-color: #9370DB;
          /* Warna ungu */
          color: white;
          /* Teks putih */
          border: none;
          /* Menghapus border */
}

.card-purple h2 {
          /* Style khusus untuk judul card pertama */
          color: white;
}

.card-purple p {
          /* Style khusus untuk deskripsi card pertama */
          color: white;
}

.card-icon {
          
          display: inline-block;
          font-size: 2em;
          margin-left: 230px;
          /* Ukuran ikon */
          margin-bottom: 10px;
          /* Jarak bawah ikon */
          color: #7B68EE;
          /* Warna ikon ungu muda */
          background-blend-mode: color-dodge;
}

.card-purple .card-icon {
          color: white;
}
.chart-container {
          width: 100%;
}